@import './mixins';

:root {
  // CONTAINERS
  --header-height: 48px;
  --sidebar-width: 0;

  // COLORS
  --color-common-gray-10: #f2f4f8;
  --color-common-gray-20: #dde1e6;
  --color-common-gray-30: #c1c7cd;
  --color-common-gray-40: #a2a9b0;
  --color-common-gray-50: #878d96;
  --color-common-gray-60: #697077;
  --color-common-gray-70: #4d5358;
  --color-common-gray-80: #343a3f;
  --color-common-gray-90: #21272a;
  --color-common-gray-100: #121619;

  --color-support-blue: #1daeff;
  --color-support-red: #ed434c;
  --color-support-yellow: #f1c21b;
  --color-support-green: #3bc873;

  --color-ainews-cyan-10: #e5f6ff;
  --color-ainews-cyan-20: #bae6ff;
  --color-ainews-cyan-30: #82cfff;
  --color-ainews-cyan-40: #33b1ff;
  --color-ainews-cyan-50: #1192e8;
  --color-ainews-cyan-60: #0072c3;
  --color-ainews-cyan-70: #00539a;

  --color-funtest-teal-10: #d9fbfb;
  --color-funtest-teal-20: #9ef0f0;
  --color-funtest-teal-30: #3ddbd9;
  --color-funtest-teal-40: #08bdba;
  --color-funtest-teal-50: #009d9a;
  --color-funtest-teal-60: #007d79;
  --color-funtest-teal-70: #005d5d;

  --color-qalaisyn-purple-10: #f6f2ff;
  --color-qalaisyn-purple-20: #e8daff;
  --color-qalaisyn-purple-30: #d4bbff;
  --color-qalaisyn-purple-40: #be95ff;
  --color-qalaisyn-purple-50: #a56eff;
  --color-qalaisyn-purple-60: #8a3ffc;
  --color-qalaisyn-purple-70: #6929c4;

  --color-new-project-magenta-10: #fff0f7;
  --color-new-project-magenta-20: #ffd6e8;
  --color-new-project-magenta-30: #ffafd2;
  --color-new-project-magenta-40: #ff7eb6;
  --color-new-project-magenta-50: #ee5396;
  --color-new-project-magenta-60: #d12771;
  --color-new-project-magenta-70: #9f1853;

  --color-other-light-gray: #F8F9FB;
  --color-other-red-50: #fa4d56;
  --color-other-light-100: #ffffff;
  --color-other-light-50: rgba(255, 255, 255, 0.5);
  --color-other-gray-50: rgba(242, 244, 248, 0.5);

  --color-black: #000000;
  --color-transparent: rgba(0, 0, 0, 0);

  --color-font-color: var(--color-common-gray-100);

  // FONTS
  --font-main: 'Ubuntu';
  --font-headings: 'Ubuntu';
  --font-mono: 'Ubuntu Mono';

  --typo-h1-font-weight: 300;
  --typo-h2-font-weight: 300;
  --typo-h3-font-weight: 400;
  --typo-h4-font-weight: 400;
  --typo-h5-font-weight: 500;
  --typo-h6-font-weight: 700;
  --typo-h7-font-weight: 700;
  --typo-h7-letter-spacing: initial;

  // BREAKPOINTS
  --screen-mobile: #{map-get($breakpoints, mobile)};
  --screen-tablet: #{map-get($breakpoints, tablet)};
  --screen-laptop: #{map-get($breakpoints, laptop)};
  --screen-desktop: #{map-get($breakpoints, desktop)};

  // SIZES
  --icon-size-S: 16px;
  --icon-size-M: 20px;
  --icon-size-L: 24px;
  --icon-size-XL: 32px;

  // OTHER
  --transition-duration: 0.15s;

  // THEME
  --theme-accent-color: var(--color-common-gray-40);

  --theme-disabled-color: var(--color-common-gray-40);

  --theme-button-hover: var(--color-common-gray-50);
  --theme-button-active: var(--color-common-gray-60);
  --theme-button-disabled: var(--color-common-gray-20);

  --theme-button-secondary-accent: var(--color-common-gray-70);
  --theme-button-secondary-hover: var(--color-common-gray-80);
  --theme-button-secondary-active: var(--color-common-gray-90);

  --theme-button-ghost-bacground: var(--color-transparent);

  @include breakpoint(tablet) {
    --sidebar-width: 192px;

    @include landscape {
      --sidebar-width: 70px;
    }
  }

  @include breakpoint(laptop) {
    --sidebar-width: 240px;
  }
}

.--theme-funtest {
  --theme-accent-color: var(--color-funtest-teal-40);

  --theme-button-hover: var(--color-funtest-teal-50);
  --theme-button-active: var(--color-funtest-teal-60);
  --theme-button-disabled: var(--color-common-gray-20);
}

.--theme-ainews {
  --theme-accent-color: var(--color-ainews-cyan-40);

  --theme-button-hover: var(--color-ainews-cyan-50);
  --theme-button-active: var(--color-ainews-cyan-60);
  --theme-button-disabled: var(--color-common-gray-20);

  --font-main: 'IBM Plex Sans';
  --font-headings: 'IBM Plex Serif';
  --font-mono: 'IBM Plex Mono';

  --typo-h1-font-weight: 400;
  --typo-h2-font-weight: 400;
  --typo-h5-font-weight: 400;
  --typo-h6-font-weight: 600;
  --typo-h7-font-weight: 600;
  --typo-h7-letter-spacing: 0.16px;
}

.--theme-qalaisyn {
  --theme-accent-color: var(--color-qalaisyn-purple-40);

  --theme-button-hover: var(--color-qalaisyn-purple-50);
  --theme-button-active: var(--color-qalaisyn-purple-60);
  --theme-button-disabled: var(--color-common-gray-20);

  --font-main: 'Roboto';
  --font-headings: 'Roboto';
  --font-mono: 'Roboto Mono';

  --typo-h1-font-weight: 400;
  --typo-h2-font-weight: 400;
  --typo-h5-font-weight: 400;
}

.--theme-new-project {
  --theme-accent-color: var(--color-new-project-magenta-40);

  --theme-button-hover: var(--color-new-project-magenta-50);
  --theme-button-active: var(--color-new-project-magenta-60);
  --theme-button-disabled: var(--color-new-common-gray-20);

  --font-main: 'Fira Sans Extra Condensed';
  --font-headings: 'Fira Sans';
  --font-mono: 'Fira Code';

  --typo-h1-font-weight: 400;
  --typo-h2-font-weight: 400;
  --typo-h5-font-weight: 400;
  --typo-h7-letter-spacing: 0.16px;
}
