@mixin font-face($path, $family, $weight: normal, $style: normal) {
  @font-face {
    font-style: $style;
    font-weight: $weight;
    font-family: $family;

    src: url('#{$path}.eot');
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
      url('#{$path}.ttf') format('truetype'),
      url('#{$path}.woff') format('woff'),
      url('#{$path}.woff2') format('woff2');
  }
}

/* ===== Usage ===== */
//  @include font-face("/fonts/Roboto/Roboto-regular", Roboto, normal, normal);
