@import './vars';

// Typo for text blocks
@mixin font-main {
  font-family: var(--font-main), sans-serif;
}

// Typo for headings
@mixin font-headings {
  font-family: var(--font-headings), serif;
}

// Typo for monospace text
@mixin font-mono {
  font-family: var(--font-mono), monospace;
}

@mixin typography-heading-1 {
  @include font-headings;

  font-weight: var(--typo-h1-font-weight);
  font-size: 54px;
  line-height: 64px;
}

@mixin typography-heading-2 {
  @include font-headings;

  font-weight: var(--typo-h2-font-weight);
  font-size: 42px;
  line-height: 50px;
}

@mixin typography-heading-3 {
  @include font-headings;

  font-weight: var(--typo-h3-font-weight);
  font-size: 32px;
  line-height: 40px;
}

@mixin typography-heading-4 {
  @include font-headings;

  font-weight: var(--typo-h4-font-weight);
  font-size: 28px;
  line-height: 36px;
}

@mixin typography-heading-5 {
  @include font-headings;

  font-weight: var(--typo-h5-font-weight);
  font-size: 20px;
  line-height: 26px;
}

@mixin typography-heading-6 {
  @include font-main;

  font-weight: var(--typo-h6-font-weight);
  font-size: 16px;
  line-height: 22px;
}

@mixin typography-heading-7 {
  @include font-main;

  font-weight: var(--typo-h7-font-weight);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: var(--typo-h7-letter-spacing);
}

@mixin typography-text-1 {
  @include font-main;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin typography-text-2 {
  @include font-main;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.16px;
}

@mixin typography-caption {
  @include font-main;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.32px;
}

@mixin typography-code {
  @include font-mono;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;

}

@mixin typography-button {
  @include font-mono;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.32px;
}

@mixin button-reset {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

@mixin breakpoint($breakpoint-name) {
  $width: map-get($breakpoints, $breakpoint-name);

  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}
