$arrow-size: 6px;

.ds-tooltip {
  position: relative;
  cursor:pointer;

  &-text {
    @include typography-caption;
    position: absolute;
    bottom: calc(100% + #{$arrow-size} + 2px);
    z-index: 1;
    max-width: 256px;
    width: max-content;
    padding: 12px;
    text-align: left;
    color: var(--color-other-light-100);
    background-color: var(--color-common-gray-80);
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-duration);

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      display: block;
      width: 0;
      height: 0;
      border-top: $arrow-size solid var(--color-common-gray-80);
      border-right: $arrow-size solid transparent;
      border-left: $arrow-size solid transparent;
    }

    &--position-left {
      left: 0;

      &::after {
        left: 16px;
      }
    }

    &--position-center,
    &--position-center::after {
      left: 50%;
      transform: translateX(-50%);
    }

    &--position-right {
      right: 0;

      &::after {
        right: 16px;
      }
    }
  }

  &:hover &-text {
    visibility: visible;
    opacity: 1;
  }
}
