<!-- eslint-disable max-len -->
<template>
  <div class="loader">
    <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M54.5 32C54.5 34.9547 53.918 37.8806 52.7873 40.6104C51.6566 43.3402 49.9992 45.8206 47.9099 47.9099C45.8206 49.9992 43.3402 51.6566 40.6104 52.7873C37.8806 53.918 34.9547 54.5 32 54.5C29.0453 54.5 26.1194 53.918 23.3896 52.7873C20.6598 51.6566 18.1794 49.9992 16.0901 47.9099C14.0008 45.8206 12.3434 43.3402 11.2127 40.6104C10.082 37.8805 9.5 34.9547 9.5 32C9.5 29.0453 10.082 26.1194 11.2127 23.3896C12.3434 20.6598 14.0008 18.1794 16.0901 16.0901C18.1794 14.0008 20.6598 12.3434 23.3896 11.2127C26.1195 10.082 29.0453 9.5 32 9.5C34.9547 9.5 37.8806 10.082 40.6104 11.2127C43.3402 12.3434 45.8206 14.0008 47.9099 16.0901C49.9992 18.1794 51.6566 20.6598 52.7873 23.3896C53.918 26.1195 54.5 29.0453 54.5 32L54.5 32Z"
        stroke="#DDE1E6"
        stroke-width="3"
      />

      <path
        d="M32 9.5C36.4501 9.5 40.8002 10.8196 44.5003 13.2919C48.2004 15.7643 51.0843 19.2783 52.7873 23.3896C54.4903 27.501 54.9358 32.025 54.0677 36.3895C53.1995 40.7541 51.0566 44.7632 47.9099 47.9099C44.7632 51.0566 40.7541 53.1995 36.3895 54.0677C32.025 54.9358 27.501 54.4903 23.3896 52.7873C19.2783 51.0843 15.7643 48.2004 13.2919 44.5003C10.8196 40.8002 9.5 36.4501 9.5 32"
        stroke="currentColor"
        stroke-width="3"
      />
    </svg>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Loader',
});
</script>

<style lang="scss">
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--theme-accent-color);

  svg {
    width: 100%;
    height: 100%;
    animation: rotation 1s infinite linear;
  }

  @keyframes rotation {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
  }
}
</style>
