<template>
  <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14 2H2C1.44772 2 1 2.44772 1 3V13C1 13.5523 1.44772 14 2 14H14C14.5523 14 15 13.5523 15 13V3C15 2.44772 14.5523 2 14 2ZM14 3V4H2V3H14ZM2 5V13H14V5H2ZM4 7H9.5V8H4V7ZM10.5 9.5H4V10.5H10.5V9.5Z"
      fill="currentColor"
    />
  </svg>
</template>
