<template>
  <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.55556 7.44444V3H7.44444V7.44444H3V8.55556H7.44444V13H8.55556V8.55556H13V7.44444H8.55556Z" fill="currentColor "/>
  </svg>
</template>
