<template>
  <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.9998 10.6L2.4998 7.09995L1.7998 7.79995L5.2998 11.3L5.9998 12L13.0998 4.89995L12.3998 4.19995L5.9998 10.6Z" fill="currentColor"/>
  </svg>
</template>
