<template>
  <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M3.75 7.28247L0.625 4.18247L1.61875 3.21997L3.75 5.31372L8.38125 0.719971L9.375 1.70747L3.75 7.28247Z" />
  </svg>
</template>
