<template>
  <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      clip-rule="evenodd"
      d="M2 3H7.5V4H2V3ZM9 3H14V4H9V3ZM10.5 6H14V7H10.5V6ZM5.5 6H9V7H5.5V6ZM2 6H4V7H2V6ZM2 9H14V10H2V9ZM2 12H10.5V13H2V12ZM12 12H14V13H12V12Z"
      fill="currentColor"
      fill-rule="evenodd"
    />
  </svg>
</template>
