<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M9.35 1.15001L12.85 4.65001C12.9488 4.73914 13.0036 4.86703 13 5.00001V14C13 14.5523 12.5523 15 12 15H4C3.44772 15 3 14.5523 3 14V2.00001C3 1.44773 3.44772 1.00001 4 1.00001H9C9.13299 0.996441 9.26087 1.05125 9.35 1.15001ZM5.705 9.79485L7 11.0898L10.295 7.79485L11 8.49985L7 12.4998L5 10.4998L5.705 9.79485ZM9 2.20001L11.8 5.00001H9V2.20001ZM4 14H12V6.00001H9C8.44772 6.00001 8 5.5523 8 5.00001V2.00001H4V14Z"
      fill="currentColor"
    />
  </svg>
</template>
