<template>
  <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1 8C1 11.866 4.13401 15 8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8ZM12.575 11.875L4.125 3.425C6.50908 1.44054 10.0128 1.60046 12.2062 3.79385C14.3995 5.98724 14.5595 9.49092 12.575 11.875ZM4.12 12.58C1.59892 10.4391 1.28582 6.66178 3.42 4.135L11.865 12.58C9.62901 14.4694 6.35599 14.4694 4.12 12.58Z" fill="currentColor" />
  </svg>
</template>
