<template>
  <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2 2H14C14.5523 2 15 2.44772 15 3V13C15 13.5523 14.5523 14 14 14H2C1.44772 14 1 13.5523 1 13V3C1 2.44772 1.44772 2 2 2ZM14 3V13H2V3H14ZM10 8.5C11.1046 8.5 12 7.60457 12 6.5C12 5.39543 11.1046 4.5 10 4.5C8.89543 4.5 8 5.39543 8 6.5C8 7.60457 8.89543 8.5 10 8.5ZM3 5H6.5V6H3V5ZM3 7H5V8H3V7ZM11.5 9C12.3284 9 13 9.67157 13 10.5V11.5H12V10.5C12 10.2239 11.7761 10 11.5 10H8.5C8.22386 10 8 10.2239 8 10.5V11.5H7V10.5C7 9.67157 7.67157 9 8.5 9H11.5ZM11 6.5C11 5.94772 10.5523 5.5 10 5.5C9.44772 5.5 9 5.94772 9 6.5C9 7.05228 9.44772 7.5 10 7.5C10.5523 7.5 11 7.05228 11 6.5Z"
      fill="currentColor"
    />
  </svg>
</template>
