<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.75 9.375a8.75 8.75 0 1017.5 0 8.75 8.75 0 00-17.5 0zm1.25 0a7.5 7.5 0 1115 0 7.5 7.5 0 01-15 0zm8.625 4.375V8.125h-2.5v1.25h1.25v4.375H7.5V15h5v-1.25h-1.875zM9.062 5.312a.937.937 0 111.875 0 .937.937 0 01-1.874 0z" fill="currentColor"/></svg>
</template>
