<template>
  <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 4H3.415L5.205 2.205L4.5 1.5L1.5 4.5L4.5 7.5L5.205 6.795L3.415 5H13.5V13H3.5V9.5H2.5V13C2.5 13.5523 2.94772 14 3.5 14H13.5C14.0523 14 14.5 13.5523 14.5 13V5C14.5 4.44772 14.0523 4 13.5 4Z" fill="currentColor" />
  </svg>
</template>
