<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11 8.5H12V9.5H11V8.5ZM14 4H2V2.5H13V1.5H2C1.44772 1.5 1 1.94772 1 2.5V13C1 13.5523 1.44772 14 2 14H14C14.5523 14 15 13.5523 15 13V5C15 4.44772 14.5523 4 14 4ZM2 13V5H14V6.5H10C9.44771 6.5 9 6.94772 9 7.5V10.5C9 11.0523 9.44771 11.5 10 11.5H14V13H2ZM14 10.5V7.5H10V10.5H14Z"
      fill="currentColor"
    />
  </svg>
</template>
