<template>
  <header class="app__toolbar" :class="`--theme-${state.theme}`">
    <h3 class="app__heading">Heading</h3>

    <div class="app__theme-wrapper">
      <template v-for="theme in THEMES" :key="theme">
        <label :class="`app__theme --theme-${theme}`" @change="handleThemeSwitch">
          {{ theme }}

          <input type="radio" name="theme" :value="theme" :checked="theme === state.theme" />
        </label>
      </template>
    </div>
  </header>

  <main class="app__main" :class="`--theme-${state.theme}`">
    content

    <div class="app__loader">
      <loader />
    </div>
  </main>

</template>

<script lang="ts">
import {
  defineComponent,
  reactive,
} from 'vue';

import { errorLogger } from '../utils/errorHandlers';

import Loader from '../components/Loader';

export default defineComponent({
  components: {
    Loader,
  },
  setup() {
    const THEMES: string[] = [
      'common',
      'funtest',
      'ainews',
      'qalaisyn',
      'new-project',
    ];

    const state = reactive({
      theme: THEMES[2],
    });

    const handleThemeSwitch = (event: { target: HTMLInputElement }) => {
      state.theme = event?.target?.value;
    };

    return {
      THEMES,
      state,
      handleThemeSwitch,
    };
  },
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  errorCaptured(err: any) {
    errorLogger(`App.vue: ${err.toString()}`, err);
    return false;
  },
});
</script>

<style lang='scss'>
.app {
  position: relative;
  height: 100%;

  &__heading {
    margin: 0 16px;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-common-gray-20);
  }

  &__main {
  }

  &__loader {
    height: 64px;
  }

  &__theme-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
  }

  &__theme {
    margin-left: auto;
    padding: 4px 8px;
    background-color: var(--theme-accent-color);
  }
}
</style>
