<template>
  <span
    class="icon"
    :class="`icon--size-${size}`"
    v-bind="$attrs"
  >
    <component :is="currentIcon" />
  </span>
</template>

<script lang="ts">
import { defineComponent, defineAsyncComponent } from 'vue';

import { errorLogger } from '../../utils/errorHandlers';

export default defineComponent({
  name: 'Icon',
  props: {
    name: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      default: 'none',
      validator: (value: string): boolean => ([
        'none',
        'S',
        'M',
        'L',
        'XL',
      ].includes(value)),
    },
  },
  setup(props) {
    return {
      currentIcon: defineAsyncComponent(() => import(`../../icons/${props.name}.vue`)),
    };
  },
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  errorCaptured(err: any) {
    errorLogger(`ds/components/Icon.vue: ${err.toString()}`, err);
    return false;
  },
});
</script>

<style lang="scss">
.icon {
  --size: 100%;

  display: inline-flex;
  width: var(--size);
  height: var(--size);

  &--size-none {
    min-width: 16px;
    min-height: 16px;
  }

  &--size-S {
    --size: var(--icon-size-S);
  }

  &--size-M {
    --size: var(--icon-size-M);
  }

  &--size-L {
    --size: var(--icon-size-L);
  }

  &--size-XL {
    --size: var(--icon-size-XL);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
</style>
